body {
    background-color: #BBDDEE;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    /* Atur margin top sesuai kebutuhan
}

/* .button-container button {
    margin: 0 5px;
    Atur margin kiri dan kanan antara tombol */
} 